<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jsflax/Engram/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>1dJlcpyVu57oSerP7cfvyRT0PHx7IuvCDbRSptbflfE=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
